{% extends 'admin/change_list.html' %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .tours-template-add-btn, .tours-template-circle {
            margin-right: 5px;
        }
    </style>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <a class="btn btn-outline-success float-right tours-template-add-btn"
       href="{% url 'admin:tours_based_on_template' %}">
        <li class="fa fa-plus-circle tours-template-circle"></li>
        Add trip based on template
    </a>
{% endblock %}
