{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}
{% load static admin_urls %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}

{% block title %}Create tours | {{ site_title|default:_('Racek Admin Panel') }}{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
    delete-selected-confirmation{% endblock %}

{% block content %}
    <div id="content-main" class="col-12">
        <form method="post">{% csrf_token %}
            <div class="row">
                {% block field_sets %}
                    <div class="col-12 col-lg-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="card-title">Add Tour</div>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <div class="p-5">
                                        {% for field in form.visible_fields %}
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-sm-2 text-left">{{ field.label }}:</label>
                                                    <div class="col-sm-10">{{ field }}</div>
                                                    <div class="help">{{ field.help_text }}</div>
                                                    <div class="help-block text-red">
                                                        {{ field.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {% block after_field_sets %}{% endblock %}
                {% block inline_field_sets %}{% endblock %}
                {% block after_related_objects %}{% endblock %}
                <div class="col-12 col-lg-3">
                    <div id="jazzy-actions" class="{{ jazzmin.actions_classes }}">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit"></i>
                                    Actions
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-outline-success form-control"
                                           name="_save">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
