{% extends "admin/change_list.html" %}
{% load i18n l10n %}

{% block extrastyle %}{{ block.super }}
    <style>
        .card {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="content-main" class="col-12">
        <form method="post">
            {% csrf_token %}
            <div class="col-12 col-lg-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="card-title">Change owner in tours</div>
                    </div>
                    <div class="card-body">

                        <div class="col-12">
                        Owner code: <input class="vTextField" type="text" name="code" required>
                            {% for obj in queryset %}
                                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}"/>
                            {% endfor %}
                            <input type="hidden" name="action" value="{{ action_name }}" />
                            <input type="hidden" name="submit" value="yes" />
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                        <div class="card">
                            <div class="col-12">
                                {% for tour in queryset %}
                                    <div>
                                        {{ tour.title }} {{ tour.departure_at }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
