{% load static %}
<title>Racek</title>
<link rel="stylesheet" type="text/css" href="{% static "home.css" %}">

<div class="bgimg">
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
    </div>
</div>
