{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Policy</title>
</head>
<body>
    <div class="content-wrapper">
        {{ policy.content|safe }}
    </div>
</body>
</html>